<app-header></app-header>

<div class="margin">
<div class="jumbotron">
    <h1 class="display-4">Hello, guest!</h1>
    <p class="lead">Connect is a social networking site
         that makes it easy for you to connect and share with family and friends online originally designed for college students, Connect was created in 2004 by Marko Marković while he was enrolled at
        Harvard University. By 2006, anyone over the age of 13 with a valid email address could join Connect. Today, Connect
        is the world's largest social network, with more than 1 billion users worldwide.</p>
    <hr class="my-4">
    <p>Today, Connect is the world's largest social network, with more than 1 billion users worldwide.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="registration" role="button">Register now</a>
    </p>
</div>
</div> 

<app-footer></app-footer>


<router-outlet> </router-outlet>