    <div class="col-lg-10">
    <h5 class="my-3"> Change password </h5>


    <div class="divChangePassword">
    <form [formGroup]="form">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0"> Current password </p>
                    <input type="password" formControlName="oldPassword"  placeholder="Current password">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">New password </p>
                    <input type="password" formControlName="newPassword" placeholder="New password">
                    </div>
                    
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Repeat new password </p>
                        <input type="password" formControlName="repeatNewPassword" placeholder="Repeat new password">
                    </div>
                <hr>
                </div>
                <button type="button" (click)="changePassword()"  class="btn btn-outline-primary ms-1"> Change password</button>
            </div>
        </div>
        </form>
        <hr>
        <div *ngIf="passwordChanged" class="alert alert-success">
            Password changed successfully.
        </div>
        <div *ngIf="newPasswordsMatchError" class="alert alert-danger">
            New passwords do not match.
        </div>
        <div *ngIf="errorMessageFlag === true" class="alert alert-danger">
            You entered wrong your old password.
        </div>

        <div *ngIf="passwordLengthErrorFlag === true" class="alert alert-danger">
            New password must be at least 8 characters long.
        </div>

        </div>


    </div>