<br>
<br>
<h2> GROUPS</h2>

<div>
  <input type="number" name="minValue" [(ngModel)]="minValue" placeholder="Search by min value"> <input type="number" [(ngModel)]="maxValue" name="maxValue" placeholder="Search by max value">
  <button (click)="searchGroupsByPostRange()">Search groups by min/max posts</button>
</div>

<div>
  <input type="text" [(ngModel)]="name" placeholder="Search by name">   
  <button (click)="searchGroupsByName()">Search groups by name</button>
</div>
<div>
  <input type="text" [(ngModel)]="description" placeholder="Search by description"> <input type="text" [(ngModel)]="pdfDescription" placeholder="Search by pdf description">
  <button (click)="searchGroupsByDescription()">Search groups by description</button>
</div>
<button (click)="getAllGroupsElastic()">Refresh</button>
<br>
<br>
<div class="card-deck">
  <div *ngFor="let group of groupIndexes" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ group.name }}</h5>
      <p class="card-text">{{ group.description }}</p>
      <p class="card-text">{{ group.pdfDescription }}</p>
      <p class="card-text">Number of posts: {{ group.postCount }}</p>
      
      <p *ngIf="group.postCount > 0" class="card-text">Average number of likes: {{ group.likesCount/group.postCount }}</p>
      <!-- <p class="card-text">Post count: {{ group.postCount}}</p> -->
      <p class="card-text">Likes count: {{ group.likesCount}}</p>


      <p class="card-text"><small class="text-muted">{{ group.createdAt }}</small></p>
      <button type="button" class="btn btn-info" (click)="isMemberOrAdmin(group)">Info</button>
    </div>
  </div>
</div>