<app-header-registered-user></app-header-registered-user>
<form>
    <h1> Group details </h1>
    <div class="form-group">
        <label for="inputGroupName"> Group id </label>
        <input type="number" disabled class="form-control" id="inputId" 
            placeholder="Group id" value="{{this.group.groupId}}"> </div>
    <div class="form-group">
        <label for="inputGroupName"> Group name </label>
        <input type="text" class="form-control" id="inputGroupName" placeholder="Group name" value="{{this.group.name}}">
    </div>
    <div class="form-group">
        <label for="inputDescription"> Group description </label>
        <input type="text" class="form-control" id="inputDescription"
         placeholder="Group description"  value="{{this.group.description}}">
    </div>
    <div class="form-group">
        <label for="inputCreationDate">Creation date</label>
        <input type="text" class="form-control" id="inputDescription" placeholder="Creation date"
            value="{{this.group.createdAt}}" disabled>
    </div>
 <div class="form-group">
    <label for="exampleFormControlSelect1" disabled >Group admins</label>
    <select class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let admin of admins">{{admin.user}}</option>
    </select>
</div> 

    <button type="submit" class="btn btn-primary">Edit group </button> 
    <button type="button" class="btn btn-danger" *ngIf="isAdmin" (click)="deleteGroup()">Delete</button>

</form>
