<div>
    <div  *ngFor="let post of posts" class="" style="max-width: 100%;">

            <div class="">
                    <div *ngFor="let image of post.imagePaths" class="" style="max-width: 540px;">
        <img  [src]="image"alt="Selected Image">
        </div>
            </div>
            <h5> {{ post.user }}</h5>
            <h3> {{post.creationDate}} </h3>

            <p> {{post.content}}</p>
                
             <button type="button" class="btn btn-info" (click)="getPostDetails(post)">Info</button>
             <br>
             <p> Total hearts: {{post.reactions.hearts}}</p>
             <p> Total likes: {{post.reactions.like}}</p>
             <p> Total dislikes: {{post.reactions.dislike}}</p>
<hr class="hr" />



    <div class="w-100"></div> <!-- Add this line to create a line break after each post -->

    </div>
    <br>
    <button type="button" class="btn btn-success" (click)="sortPostsAscendingByDate()">Sort posts by date (ascending)</button>
<button type="button" class="btn btn-success" (click)="sortPostsDescendingByDate()">Sort posts by date (descending)</button>


</div>