<div class="d-flex justify-content-center">
    <div *ngFor="let post of posts" class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="assets/post.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> {{ post.content }} </h5>
                    <p class="card-text"> {{post.user}}</p>
                    <p class="card-text"><small class="text-muted">{{ post.creationDate}} </small></p>
                </div>
            </div>
        </div>
    </div>
</div>